.btn {
	&__primary {
		padding: 12px 24px;
		background: var(--lime-color);
		color: var(--black-color);
		font-size: 14px;
		font-weight: 700;
		line-height: 1.5;
		text-decoration: none;
		border-radius: 30px;
		cursor: pointer;
		white-space: nowrap;
		text-transform: uppercase;
		margin-bottom: 0;
	}
}
