<section class="hero">
	<div class="hero__background">
		<div class="container hero__container">
			<div class="hero__side">
				<h2 class="title title__h2 hero__title">Оставьте заявку и бесплатно получите</h2>
				<ul class="list-reset hero__list">
					<li class="hero__item">Варианты использования Битрикс24 в соответствии с вашими задачами</li>
					<li class="hero__item">Расчет стоимости внедрения для вашей компании</li>
					<li class="hero__item">Примеры внедрения Битрикс24 в компаниях вашей отрасли</li>
					<li class="hero__item">До 4-х вариантов КП от разных партнеров для сравнения цен</li>
				</ul>
			</div>
			<img src="./img/hero-image.png" class="image hero__image" width="1110" height="524" alt="Битрикс" />
		</div>
	</div>
</section>
