<section class="trust">
	<div class="container trust__container">
		<h2 class="title title__h2 trust__title">Подберем надежного исполнителя по внедрению Битрикс24</h2>
		<h3 class="title title__h3 trust__subtitle">
			Расскажите о ваших целях и задачах, и наши партнеры предложат вам идеальное решение для вашего бизнеса
		</h3>
		<ul class="list-reset trust__list">
			<li class="trust__item">
				<img
					src="./img/trust-image-1.png"
					class="image trust__image"
					width="255"
					height="151"
					alt="Изображение работы"
				/>
				<h3 class="title title__h3 trust__subtitle-item">
					Подайте заявку на расчет стоимости внедрения Битрикс24
				</h3>
			</li>
			<li class="trust__item">
				<img
					src="./img/trust-image-2.png"
					class="image trust__image"
					width="255"
					height="151"
					alt="Изображение работы"
				/>
				<h3 class="title title__h3 trust__subtitle-item">
					Получите коммерческие предложения от наших сертифицированных партнеров
				</h3>
			</li>
			<li class="trust__item">
				<img
					src="./img/trust-image-3.png"
					class="image trust__image"
					width="255"
					height="151"
					alt="Изображение работы"
				/>
				<h3 class="title title__h3 trust__subtitle-item">
					Выберите исполнителя, условия которого вам подходят
				</h3>
			</li>
			<li class="trust__item">
				<img
					src="./img/trust-image-4.png"
					class="image trust__image"
					width="255"
					height="151"
					alt="Изображение работы"
				/>
				<h3 class="title title__h3 trust__subtitle-item">
					Партнер настроит Битрикс24 под ваши процессы, поможет в запуске и использовании системы
				</h3>
			</li>
		</ul>
		<button class="btn-reset btn__primary">Получить расчет стоимости</button>
	</div>
</section>
